<h1>To request a song:</h1>

<ol>
<li>Text "Search {song, artist, genre, etc}" to 510-423-3897. You will get a numbered list of songs in response.</li>
<li>Reply to the text you received with "Play {song number}".</li>
<li>There is no step 3.</li>
</ol>

<h2>Source code: github.com/wskinner/jukebox-hero</h2>
